h1{
    text-align: center;
}
.videoDiv{
    font-size: 10px;
}

#my-video{
    display: block;
    margin: 0 auto;
}

#videoWarning{
    text-align: center
}
span{
    padding-left: 10px;
}

#cutName {
    margin-right: 10px;
}

#editinglabelTime{
    margin-right: 10px;
}