extends layout

block content


    div(style='text-align: center')
        h1 Your Previous Streams
        div(class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            div(class="modal-dialog")
                div(class="modal-content")
                
                    div(class="modal-header")
                        <button style="margin-left: 0px; margin-right: 120px;" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 style="margin-right: 35%;" class="modal-title" id="myModalLabel">Confirm Delete</h4>

                
                    div(class="modal-body")
                        <p>You are about to this stream, this procedure is irreversible.</p>
                        <p>Do you want to proceed?</p>

                    
                    div(class="modal-footer")
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button onclick="delete_()" class="btn btn-danger">Delete</a>

        each collection in collections
            a(href='/editing_station/' + JSON.stringify(collection.name).slice(1, -1))
                h3(style='padding-left: 30px') #{JSON.stringify(collection.name).slice(1, -1)} 
                br
                img.image(src=("/videos/screenshots/" +JSON.stringify(collection.name).slice(1, -1) + ".jpg") alt="logo" height="200" width="400")
            form(action='/editing_station/' + JSON.stringify(collection.name).slice(1, -1) + '/remove_stream', method='post', id=JSON.stringify(collection.name).slice(1, -1))
                input(type='hidden', value=JSON.stringify(collection.name).slice(1, -1), name='collectionName', id='removeStream')
                button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete" onclick="getName("+JSON.stringify(collection.name)+")") Remove Stream
       

    script.
        let name = "moo"
        function getName(name_){
            name = name_
            console.log(name)
        }
        function delete_(){
            form = document.getElementById(name)
            form.submit()
        }
        
