extends layout

block content

    h1 Edit your video: #{name}

    iframe(width="560" height="349" src="https://www.youtube.com/embed/live_stream?channel=UCXwXlD9sodFJ59ghod7FIzg" frameborder="0" allowfullscreen)
    h2 Labels
        each labelName in label
            h4 #{(JSON.stringify(labelName)).substr(1).slice(0, -1).replace(/['"]+/g, '')}
    h2 Trim your video
    form(action='/trim', method='post', id='input')
        label(for='startTime') start time
        input(type='text', value='', name='startTime', id='startTime', placeholder="00:01:00")
        label(for='endTime') end time
        input(type='text', value='', name='endTime', id='endTime', placeholder="00:02:15")
        label(for='endTime') cut name
        input(type='text', value='', name='cutName', id='cutName', placeholder="cut1")
        button(type="submit") submit

    h2 download your edited file
    a(href='/download') Download trim
    br
    br
    a(href='/downloadWhole') Download whole Stream
    br
    br
    a(href="/")
        button(type="button") Take me back
    br