doctype html
html
  head
    link(href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/home.css')

  body
    div(class='logoTitle')
        image(src=("/system-images/logo.png") class="logo" height="120" width="100")
        h1(class='title') VIDEOGAMI-LITE
    div(class='button-div')
        a(href="/editing_station")
            <button type="button" class="btn btn-primary outline">editing station</button>
        a(href="/streaming")
            <button type="button" class="btn btn-primary btn-lg sharp">start stream</button>
        a(href="/video_settings")
            <button type="button" class="btn btn-primary outline">video settings</button>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        