extends layout

block content
  h1 VideoGami Lite


  a(href="/setup_accounts")
    button(type="button") Go to account setup
  br

  h2 Get duration
  form(action='/duration', method='post', id='duration')
    button(type="submit") start timer
  form(action='/returnDuration', method='post', id='duration')
    button(type="submit") end timer

  h2 Logo size
  form(action='/imgScale', method='post', id='imgScaleForm')
    label(for='logoSize') Adust size (higher - the larger) 
    input(type='text', value='', name='logoSize', id='logoSize', placeholder='40:40')
    br
    button(type="submit") submit

  
  h2 Logo placements
  form(action='/logoInput', method='post', id='logoForm')
    label(for='logoHor') Adust horizontal (higher - left, lower right) 
    input(type='text', value='', name='logoHor', id='logoHor', placeholder='580')
    br
    label(for='logoHei') Adust height (higher - lower down, lower-higher up) 
    input(type='text', value='', name='logoHei', id='logoHei', placeholder='10')
    br
    button(type="submit") submit

  h2 Input source 
  form(action='/input', method='post', id='input')
    label(for='input ') Enter your HLS input 
    input(type='text', value='', name='input', id='input')
    button(type="submit") submit

  h2 Stream settings
  h3 choose your streaming destinations
  form(action='/streamsettings', method='post', id='streamSettings')
    label(for='youtube') Youtube 
    input(type='checkbox', value='true', name='youtube', id='youtube') 
    br
    label(for='Facebook') Facebook  
    input(type='hidden', value='', name='rtmplink', id='FBNowInputBox')
    input(type='checkbox', onchange="streamFB()", value='true', name='facebook', id='facebook') 
    br
    label(for='joicaster') Joicaster 
    input(type='checkbox', value='true', name='joicaster', id='joicaster') 
    br
    br
    button(type="submit") Stream now
    br
    br 
    label(for='Month ') Month (1-12)
    input(type='text', value='', name='month', id='Month')
    br
    label(for='Day ') Day (1-31)
    input(type='text', value='', name='day', id='Day')
    br
    label(for='Hour ') Hour (1-23)
    input(type='text', value='', name='hour', id='Hour')
    br
    label(for='Month ') minute (1-59)
    input(type='text', value='', name='minute', id='minute')
    br
    button(type="submit") schedule stream 
    br

  form(action='/cancelstream', method='post', id='CancelStream')
    button(type="submit") Cancel scheduled stream 
  br

  a(href="/stop")
    button(type="button") Stop Streaming
  br
  
  

  script.
    window.fbAsyncInit  = function()  {
    FB.init({
      appId             : '202133753681543',
      autoLogAppEvents  : true,
      xfbml             : true,
      version           : 'v2.11'
      });
      };

    function streamFB(){
      FB.api(
        '/913878858767085/live_videos',
        'POST',
        {access_token: "EAAC31u6V1ocBANKZAMreCkjL3UjJoNpRI5HoKfvsXQ95QZBCJfyjKcjzPrYvcK0ZBNsDQH039C471FcoUhpT0SgxKkOP5UKZAquPtlDZB8I7ZCFas0syDtHhxpHywpSx5eU2ZAaZBFvqq9vLxRE5jjmEE2zsWqy929QpRjFqe25IDQZDZD"},
        function(response) {
            let rtmp = response.stream_url
            console.log(rtmp)
            console.log(response)
            document.getElementById("FBNowInputBox").value = rtmp;
        }
      );
    }
 
  script.
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

