extends layout

block content
  h1= "wow this is the title"
  a(href="/convert")
   button(type="button") convert
  br
  a(href="/stop")
    button(type="button") Stop
  //- br
  //- button(type="button" onclick="share()") share
  br
  button(type="button" onclick="status()") status
  br
  button(type="button" onclick="myFacebookLogin()") Login with Facebook 
  br
  button(type="button" onclick="post()") post 
  br
  form(action='/data', method='post', id='form-id')
    input(type='hidden', value='', name='data', id='input')
    button(type="button", onclick="getRTMP()", id="btn") get RTMP url

  script.
    window.fbAsyncInit  = function()  {
    FB.init({
      appId             : '202133753681543',
      autoLogAppEvents  : true,
      xfbml             : true,
      version           : 'v2.11'
      });
      };
    function share() {FB.ui(
      {
        method: 'share',
        href: 'https://developers.facebook.com/docs/'
      }, function(response){})
    };
    function status() {
      FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        console.log('Logged in.');
      }
      else {
        FB.login();
      }
      });
    }
    function myFacebookLogin() {
      FB.login(function(){}, {scope: 'manage_pages'});
    }
    function post(){
      FB.login(function(){
      // Note: The call will only work if you accept the permission request
      FB.api('/913878858767085/feed', 'post', {message: 'moo!'});
      }, {scope: 'publish_pages'});
    }
    let rtmp = null
    function getRTMP(){
      FB.api(
        '/913878858767085/live_videos',
        'POST',
        {access_token: "EAAC31u6V1ocBAPAqrHtOzNPZCxQncld5Q883L4svlQqkbZB42u4Xdu4j0El77U0eQ5sohDSBw2Q8XQM6n1Nk3cBKPo0ZCUUqqGh0EXQ2cOOdxLn5ZAqOOBq59ZAelStyDJesBsbhirodIHOpOMNkQ5ZBW5W9Nd6Rla65q1ZCsiZBUpdbhPh8aok8STlDVV4bVQKLQjCwr4ATzwZDZD"},
        function(response) {
            rtmp = response.stream_url
            console.log(rtmp)
            document.getElementById("input").value = rtmp;
            var form = document.getElementById("form-id");
            form.submit();
        }
      );
    }
 
  script.
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
