extends layout

block content

  h1 streaming: #{name}
  h4 Scheduled Stream Time: #{date}
    
  iframe(width="560" height="349" src="https://www.youtube.com/embed/live_stream?channel=UCXwXlD9sodFJ59ghod7FIzg" frameborder="0" allowfullscreen)
  br
  br
  h2 Labels
    each labelName in label
      h4 #{(JSON.stringify(labelName)).substr(1).slice(8, -1).replace(/['"]+/g, '')}
  a(href="/labeling/refresh")
    button(type="button") refresh labels
  br
  h2 Add a label 
  form(action='/labeling/add', method='post', id='insertLabel')
    label(for='insertLabel ') Add label
    input(type='text', value='', name='label', id='insertLabel')
    button(type="submit") submit
  br
  a(href="/editing")
    button(type="button") Stop Streaming
  br