doctype html
html
  head
    //- videoJS
    link(href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet")
    script(src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js")
    //- font awesome
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    //- style sheet
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- bootstrap
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    link(rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet prefetch' href='https://utm-link-manager.firebaseapp.com/app.min.css')
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js')  
    //- jquery
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js')
    //- videojs HLS
    link(href="https://unpkg.com/video.js@5.16.0/dist/video-js.css" rel="stylesheet")
    script(src="https://unpkg.com/video.js@5.16.0/dist/video.js")
    script(src="https://unpkg.com/videojs-contrib-hls@4.1.1/dist/videojs-contrib-hls.js") 
  
  //- bootstrap navbar
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  a(href='/')
    image(src=("/system-images/logo.png") height="42" width="42" style="margin-left: 10px;")
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/streaming">Stream <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/editing_station">Editing station</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/setup_accounts">Add/change Outlets</a>
      <li class="nav-item">
        a(class="nav-link" id="signal_" style="pointer-events: none" href="/goToStreamingPage") <i class="fas fa-signal"></i> #{signal}
        input(hidden id="signalInput" value=signal)
      </li>
      <li class="nav-item">
        a(class="nav-link" href="/stop") <i class="fas fa-ban"></i> Emergency stop button
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/video_settings"> <i class="fa fa-cog" aria-hidden="true"></i> Change video settings</a>
      </li>
      //- <li class="nav-item">
      //-   <a class="nav-link" href="/test"> test
      //- </li>
    </ul>
  </div>
</nav>

  body
    block content
  script.
    $(function() {
      $("#insertLabelForm").on("submit",function(e) { 
        e.preventDefault(); // stop submission
         
        $.post(this.action,$(this).serialize(),function(data) {
          $("#labels").html(""); 
          $.each(data,function(label) { // loop over result         
            $("#labels").append(data[label].label + '<br/>');
            document.getElementById("insertLabel").value = ""
          });  
        });  
      });   
    });
    $(function() {
        let signals = document.getElementById('signalInput')
        let signalBtn = document.getElementById('signal_')
        console.log(signals.value)
        if(signals.value === "Live" || "Converting"){
          signalBtn.style['pointer-events'] = 'auto'
        }
        if(signals.value === "offline"){
          signalBtn.style['pointer-events'] = 'none'
        }
    })

