extends layout

block content
    br
    h4 Select the resolution you want to use
    form(action='/change_resolution', method='post', id='streamSettings')
        label(for='resolution') change resolution 
        select(class="resolution" , name="resolution", id="resolution")
        p current resolution: #{currentResolution}
        button(type="submit") submit
    br

    form(action='/test', method='post', id='test')
        button(type="submit") test
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js')

    <head>
    <meta charset=utf-8 />
    <title>Live signal checker</title>


    <link href="https://unpkg.com/video.js@5.16.0/dist/video-js.css" rel="stylesheet">
    <script src="https://unpkg.com/video.js@5.16.0/dist/video.js"></script>
    <script src="https://unpkg.com/videojs-contrib-hls@4.1.1/dist/videojs-contrib-hls.js"></script>

    <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
    <script src="https://unpkg.com/video.js/dist/video.js"></script>
    <script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>
    
    </head>
    <body>
    <h1>Live signal checker</h1>

    video(id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="640" height="268" data-setup='{}')
        source(src=input type="application/x-mpegURL")

    
    <script>
    </script>
    
    </body>

