extends layout

block content
    br
    h4 Select the resolution you want to use
    form(action='/change_resolution', method='post', id='streamSettings')
        label(for='resolution') change resolution 
        select(class="resolution" , name="resolution", id="resolution")
        p current resolution: #{currentResolution}
        button(type="submit") Submit
        
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js')
    script.
        $(function(){
            var $select = $(".resolution");
                $select.append($('<option></option>').val("480").html("480"))
                $select.append($('<option></option>').val("720").html("720"))
                $select.append($('<option></option>').val("1080").html("1080"))
        });

    <video id=example-video width=960 height=540 class="video-js vjs-default-skin" controls>
    <source
        src="https://example.com/index.m3u8"
        type="application/x-mpegURL">
    </video>
    <script src="video.js"></script>
    <script src="videojs.hls.min.js"></script>
    <script>
    var player = videojs('example-video');
    player.play();
    </script>